SCRATCH_DIR=${EXP_DIR}/SCRATCH
SOCA_BIN_DIR=/work/noaa/marine/yli/jedi_1115/soca-science/build.intel/bin
#-------------------------------------------------------------------------------
# Experiment Cycle
#-------------------------------------------------------------------------------
EXP_START_DATE=20201025Z12       # exp start date in YYYY0922Z18 format
EXP_END_DATE=20201026Z06         # exp end date in YYYY0922Z18 format
FCST_LEN=6                       # the length (in hours) of each cycle
FREE_FCST=F
FREE_FCST_LEN=(66 60)            # the length (in hours) of each cycle

# how many extra restart files to save
SAVE_RST_CYCLES=365                # if 0, only most recent restarts are saved
SAVE_RST_REGEX="^......01.."     # a regular expression allowing for specific
                                 # extra restart files to be saved. (e.g. This
                                 # will save the 1st of each month.)


#-------------------------------------------------------------------------------
# Workload manager
#-------------------------------------------------------------------------------
JOB_NAME=3dvar
JOB_ACCT=marine-cpu
#JOB_TIME=08:00:00
#JOB_PARTITION=orion
JOB_TIME=00:30:00
JOB_QOS=debug #batch
JOB_NPES=240 #480
SOCA_NPES=240 #480

#-------------------------------------------------------------------------------
# Data Assimilation Configuration
#-------------------------------------------------------------------------------
DA_MODE=3dvar
DA_ENS_SIZE=1
DA_NODA_FCST_ENABLED=T
DA_REGIONAL_ENABLED=T
DA_PERTURBATION_MODEL="letkf"
DA_SEAICE_ENABLED=F
DA_LETKF_WINDOW=4
DA_LETKF_OBS_LIST="adt sst insitu sss"
DA_VARIABLES="socn, tocn, ssh, hocn"
DA_CHKPT_WITH_MODEL=F
DA_DIAGB_ENABLED=T #F
DA_DIAGB_DIRAC_STEP=40
DA_ENSBDIAG_ENABLED=F
SAVE_DIAG_ENABLED=T #F
DA_OCN_IAU=F

#-------------------------------------------------------------------------------
# model configuration
#-------------------------------------------------------------------------------
MODEL=mom6sis2                  # godas, geos, mom6sis2
MODEL_EXE=/work/noaa/marine/yli/NOAA-GFDL/MOM6-examples/build/intel/ice_ocean_SIS2/repro/MOM6
#MODEL_CFG_DIR=/work/noaa/marine/yli/jedi_1115/soca-science/configs/model/mom6sis2/OBC3DF
MODEL_CFG_DIR=/work/noaa/marine/yli/jedi_1115/soca-science/configs/model/mom6sis2/Kriti
MODEL_DATA_DIR=/work/noaa/marine/yli/soca-shared/DATA/INPUT/TC2020

#-------------------------------------------------------------------------------
# initial conditions (background restart files)
#-------------------------------------------------------------------------------
BKGRST_SRC=none
BKGRST_COLDSTART_ENABLED=T

#-------------------------------------------------------------------------------
# Forcing
#-------------------------------------------------------------------------------
FORC_ENABLED=T
#FORC_SRC=/work/noaa/marine/yli/soca-shared/DATA/FORCING/2022
FORC_SRC=/work/noaa/aoml-hafs1/hskang/MOM6-SIS2-HAT10/DATA/prep/forc/0.25deg/2020a
FORC_GEN_ENABLED=F
FORC_GEN_SOURCE=era5 #jra55 #era5

#-------------------------------------------------------------------------------
# Observations
#-------------------------------------------------------------------------------
OBS_ENABLED=T
OBS_LIST_OCN="adt sst insitu"
OBS_TOLERATE_FAIL=T
OBS_GEN_ENABLED=F

OBS_ADT_LIST="ssh"
OBS_INSITU_LIST="profile"
OBS_SST_LIST="jpss metop"

OBS_ADT_SSH_SRC="/work/noaa/ng-godas/yli/plot112/rtofs_ssh/DATA/ssh/2020"
OBS_SST_JPSS_SRC="/work/noaa/ng-godas/yli/plot112/rtofs_sst/DATA/jpss/2020"
OBS_SST_METOP_SRC="/work/noaa/ng-godas/yli/plot112/rtofs_sst/DATA/metop/2020"
OBS_INSITU_PROFILE_SRC="/work/noaa/ng-godas/yli/plot112/rtofs_profile/DATA/profile/2020"

