[submodule "NEMSfv3gfs"]
	path = sorc/hafs_forecast.fd
	url = gerrit:NEMSfv3gfs
	branch = HAFS
[submodule "EMC_post"]
	path = sorc/hafs_post.fd
	url = https://github.com/hafs-community/EMC_post.git
	branch = support/HAFS
[submodule "ProdGSI"]
	path = sorc/hafs_gsi.fd
	url = gerrit:ProdGSI
	branch = HAFS
[submodule "UFS_UTILS"]
	path = sorc/hafs_utils.fd
	url = https://github.com/hafs-community/UFS_UTILS.git
	branch = support/HAFS
