[submodule "ufs-weather-model"]
    path = sorc/hafs_forecast.fd
    url = https://github.com/ufs-community/ufs-weather-model
    branch = develop
[submodule "UFS_UTILS"]
    path = sorc/hafs_utils.fd
    url = https://github.com/ufs-community/UFS_UTILS
    branch = develop
[submodule "gfdl-tracker"]
    path = sorc/hafs_tracker.fd
    url = https://github.com/hafs-community/gfdl-tracker
    branch = support/HAFS
[submodule "sorc/hafs_gsi.fd"]
    path = sorc/hafs_gsi.fd
    url = https://github.com/hafs-community/GSI.git
#   branch = support/HAFS
    branch = support/hafs.v1.1.0
[submodule "GPLOT"]
    path = sorc/hafs_graphics.fd/hrd_gplot
    url = https://github.com/hafs-community/GPLOT.git
    branch = support/HAFS
[submodule "hafs_graphics"]
    path = sorc/hafs_graphics.fd/emc_graphics
    url = https://github.com/hafs-community/hafs_graphics.git
    branch = support/HAFS
[submodule "sorc/hafs_graphics.fd/pygraf"]
    path = sorc/hafs_graphics.fd/pygraf
    url = https://github.com/NOAA-GSL/pygraf
    branch = arfs_dev
