[submodule "ufs-hafs-model"]
	path = sorc/hafs_forecast.fd
	url = https://github.com/hafs-community/ufs-hafs-model.git
	branch = feature/hafs_couplehycom_cmeps
[submodule "EMC_post"]
	path = sorc/hafs_post.fd
	url = https://github.com/hafs-community/EMC_post.git
	branch = support/HAFS
[submodule "UFS_UTILS"]
	path = sorc/hafs_utils.fd
	url = https://github.com/hafs-community/UFS_UTILS.git
	branch = support/HAFS
[submodule "gfdl-tracker"]
	path = sorc/hafs_vortextracker.fd
	url = https://github.com/hafs-community/gfdl-tracker.git
	branch = support/HAFS
[submodule "NCEPLIBS-pyprodutil"]
	path = ush/produtil_repo
	url = https://github.com/hafs-community/NCEPLIBS-pyprodutil.git
	branch = support/HAFS
[submodule "sorc/hafs_gsi.fd"]
	path = sorc/hafs_gsi.fd
	url = https://github.com/hafs-community/GSI.git
	branch = support/HAFS
[submodule "GPLOT"]
	path = sorc/hafs_graphics.fd/hrd_gplot
	url = https://github.com/hafs-community/GPLOT.git
	branch = support/HAFS
[submodule "hafs_graphics"]
	path = sorc/hafs_graphics.fd/emc_graphics
	url = https://github.com/hafs-community/hafs_graphics.git
	branch = support/HAFS
