#
# ***** configuration of hafs build *****

 Building libraries (libs) ............................. no
 Building forecast (forecast) .......................... yes
 Building post (post) .................................. yes
 Building vortextracker (vortextracker) ................ yes
 Building utils (utils) ................................ yes
 Building tools (tools) ................................ yes
 Building gsi (gsi) .................................... no
 
# -- END --

