# Set the model component to be used in later configuration
{% set model_component = model_component|default('model_component') %}

cost function:

  cost type: 3D-Var

  jb evaluation: {{ jb_evaluation | default(false) }}

  time window:
    begin: '{{window_begin}}'
    length: '{{window_length}}'
    bound to include: '{{ bound_to_include | default("begin", true) }}'

  geometry:
{% filter indent(width=4) %}
{% set geometry_background_file = geometry_background_file|default(model_component ~ 'geometry_background', true) ~ '.yaml.j2' %}
{% include geometry_background_file %}
{% endfilter %}

  analysis variables: {{analysis_variables}}

  background:
{% filter indent(width=4) %}
{% set background_file = background_file|default(model_component ~ 'background', true) ~ '.yaml.j2' %}
{% include background_file %}
{% endfilter %}

  background error:
{% filter indent(width=4) %}
{% set background_error_file = background_error_file|default(model_component ~ 'background_error', true) ~ '.yaml.j2' %}
{% include background_error_file %}
{% endfilter %}

  observations:
    obs perturbations: {{ obs_perturbations | default(false, true) }}
    observers:
{% for observation_from_jcb in observations %}
{% if use_observer(observation_from_jcb) %}
{% filter indent(width=4) %}
{% include observation_from_jcb + '.yaml.j2' %}
{% endfilter %}
{% endif %}
{% endfor %}

variational:
  minimizer:
    algorithm: {{minimizer}}
  iterations:
# Loop over outer loops
{% for i in range(1, number_of_outer_loops+1) %}
{% filter indent(width=2) %}
{% set var_outer_loop_file = model_component ~ '3dvar_outer_loop_' + i|string + '.yaml.j2' %}
{% include var_outer_loop_file %}
{% endfilter %}
{% endfor %}

final:
  diagnostics:
    departures: {{final_diagnostics_departures}}
{% if final_prints_frequency is defined %}
  prints:
    frequency: {{final_prints_frequency}}
{% endif %}

# Optional final fields to write out
{% if final_increment_to_latlon_file is defined %}
  increment to structured grid:
{% filter indent(width=4) %}
{% set final_increment_to_latlon_file = final_increment_to_latlon_file ~ '.yaml.j2' %}
{% include final_increment_to_latlon_file %}
{% endfilter %}
{% endif %}

{% if final_analysis_to_latlon_file is defined %}
  analysis to structured grid:
{% filter indent(width=4) %}
{% set final_analysis_to_latlon_file = final_analysis_to_latlon_file ~ '.yaml.j2' %}
{% include final_analysis_to_latlon_file %}
{% endfilter %}
{% endif %}

{% if final_increment_file is defined %}
  increment:
{% filter indent(width=4) %}
{% set final_increment_file = final_increment_file ~ '.yaml.j2' %}
{% include final_increment_file %}
{% endfilter %}
{% endif %}

# Optionally write out the final analysis
{% if output_file is defined %}
output:
{% filter indent(width=2) %}
{% set output_file = output_file ~ '.yaml.j2' %}
{% include output_file %}
{% endfilter %}
{% endif %}

# Optionally test the application
{% if do_testing | default(false) %}
test:
  reference filename: {{test_reference_filename}}
{% if test_output_filename is defined %}
  test output filename: {{test_output_filename}}
{% endif %}
{% if log_output_filename is defined %}
  log output filename: {{log_output_filename}}
{% endif %}
{% if mpi_pattern is defined %}
  mpi pattern: {{mpi_pattern}}
{% endif %}
  float relative tolerance: {{test_float_relative_tolerance | default(1.0e-6, true)}}
  float absolute tolerance: {{test_float_absolute_tolerance | default(0.0, true) }}
  integer tolerance: {{test_integer_tolerance | default(0, true) }}
{% endif %}

# Turn off the final J eval
final j evaluation: {{ final_j_evaluation | default(false) }}
