     - obs space:
         name: aircar_specificHumidity_133
         obsdatain:
           engine:
             type: H5File
             obsfile: obs/hafs.t{{HH}}z.aircar.nc
             missing file action: "warn"
           obsgrouping:
             group variables: ["stationIdentification"]
             sort variable: "pressure"
             sort order: "descending"
         obsdataout:
           engine:
             type: H5File
             obsfile: hofx/diag_aircar_specificHumidity_133_t{{HH}}z.nc
             allow overwrite: true
         io pool:
           max pool size: {{TOTAL_TASKS}}
         observed variables: [specificHumidity]
         simulated variables: [specificHumidity]
       obs operator:
         name: Composite
         components:
         - name: VertInterp
           vertical coordinate: air_pressure
           observation vertical coordinate: pressure
           observation vertical coordinate group: MetaData
           interpolation method: log-linear
           variables:
           - name: specificHumidity
 
       linear obs operator:
         name: VertInterp
 
       obs error:
         covariance model: diagonal
 
       obs filters:
       # Regional Domain Check
       - filter: Bounds Check
         filter variables:
         - name: specificHumidity
         test variables:
         - name: GeoVaLs/observable_domain_mask
           minvalue: 0.0
           maxvalue: 0.5
       # Reject all obs with QualityMarker > 3
       - filter: Perform Action
         apply at iterations: 0,1
         filter variables:
         - name: specificHumidity
         where:
         - variable: ObsType/specificHumidity
           is_not_in: 133
         - variable: QualityMarker/specificHumidity
           is_in: 4-15
           value: is_not_valid
         - variable: MetaData/pressure
           value: is_not_valid
         where operator: or
         action:
           name: reject
           name: reduce obs space
 
       # Time window filter
       - filter: Domain Check
         apply at iterations: 0,1
         where:
           - variable:
               name: MetaData/timeOffset # units: s
             minvalue: -10800
             maxvalue:  10800
 
       - filter: Perform Action
         filter variables:
         - name: specificHumidity
         where:
         - variable: ObsType/specificHumidity
           is_in: 133
         action:
           name: assign error
           error function:
             name: ObsFunction/ObsErrorModelStepwiseLinear
             options:
               xvar:
                 name: MetaData/pressure
               xvals: [110000, 105000, 100000, 95000, 90000, 85000, 80000, 75000, 70000, 65000, 60000, 55000, 50000, 45000, 40000, 35000, 30000, 25000, 20000, 15000, 10000, 7500, 5000, 4000, 3000, 2000, 1000, 500, 400, 300, 200, 100, 0]
               errors: [0.19455, 0.19064, 0.18488, 0.17877, 0.17342, 0.16976, 0.16777, 0.16696, 0.16605, 0.16522, 0.16637, 0.17086, 0.17791, 0.18492, 0.18996, 0.19294, 0.19447, 0.19597, 0.19748, 0.19866, 0.19941, 0.19979, 0.19994, 0.19999, 0.20000, 0.20000, 0.20000, 0.20000, 0.20000, 0.20000, 0.20000, 0.20000, 0.20000]
 
       # Error inflation based on pressure check (setupq.f90)
       - filter: Perform Action
         filter variables:
         - name: specificHumidity
         where:
         - variable: ObsType/specificHumidity
           is_in: 133
         action:
           name: inflate error
           inflation variable:
             name: ObsFunction/ObsErrorFactorPressureCheck
             options:
               variable: specificHumidity
               inflation factor: 8.0
               request_saturation_specific_humidity_geovals: true
 
       # Error inflation based on errormod (qcmod.f90)
       - filter: Perform Action
         filter variables:
         - name: specificHumidity
         where:
         - variable: ObsType/specificHumidity
           is_in: 120
         action:
           name: inflate error
           inflation variable:
             name: ObsFunction/ObsErrorFactorConventional
             options:
               inflate variables: [specificHumidity]
               pressure: MetaData/pressure
 
       # Error inflation when QualityMarker == 3 (read_prepbufr.f90)
       - filter: Perform Action
         filter variables:
         - name: specificHumidity
         action:
           name: inflate error
           inflation factor: 1.2
         where:
         - variable: QualityMarker/specificHumidity
           is_in: 3
       # Error inflation when observation pressure < 100 hPa (read_prepbufr.f90)
       - filter: Perform Action
         filter variables:
         - name: specificHumidity
         action:
           name: inflate error
           inflation factor: 1.2
         where:
         - variable: MetaData/pressure
           maxvalue: 10000.0
 
       # Bounds Check (ObsError)
       - filter: Bounds Check
         filter variables:
         - name: specificHumidity
         test variables:
         - name:  ObsErrorData/specificHumidity
         minvalue: 0.0
         action:
           name: reduce obs space
 
       # Bounds Check (ObsValue)
       - filter: Bounds Check
         filter variables:
         - name: specificHumidity
         minvalue: 0.0
         maxvalue: 1.0
 
       # Create temporary ObsErrorData
       - filter: Variable Assignment
         apply at iterations: 0,1
         assignments:
         - name: TempObsErrorData/specificHumidity
           type: float
           function:
             name: ObsFunction/Arithmetic
             options:
               variables:
               - name: ObsErrorData/specificHumidity
         defer to post: true
       # Set ObsError set "error parameter" if < "max value"
       - filter: Perform Action
         apply at iterations: 0,1
         filter variables:
         - name: specificHumidity
         action:
           name: assign error
           error parameter: 10.0
         where:
         - variable:
             name: ObsErrorData/specificHumidity
           maxvalue: 10.0
         - variable:
             name: ObsErrorData/specificHumidity
           value: is_valid
         defer to post: true
       # Set ObsError set "error parameter" if > "min value"
       - filter: Perform Action
         apply at iterations: 0,1
         filter variables:
         - name: specificHumidity
         action:
           name: assign error
           error parameter: 100.0
         where:
         - variable:
             name: ObsErrorData/specificHumidity
           minvalue: 100.0
         - variable:
             name: ObsErrorData/specificHumidity
           value: is_valid
         defer to post: true
 
       # Gross Error Check
       - filter: Background Check
         apply at iterations: 0,1
         filter variables:
         - name: specificHumidity
         threshold: 8.0
         action:
           name: reject
         where:
         - variable: ObsType/specificHumidity
         - variable: QualityMarker/specificHumidity
           is_not_in: 3
         defer to post: true
       # Gross Error Check: cgross*0.7 if QualityMarker=3
       - filter: Background Check
         apply at iterations: 0,1
         filter variables:
         - name: specificHumidity
         threshold: 5.6
         action:
           name: reject
         where:
         - variable: ObsType/specificHumidity
         - variable: QualityMarker/specificHumidity
           is_in: 3
         defer to post: true
 
       # Re-assign err ObsErrorData <--- TempObsErrorData after gross error check.
       - filter: Perform Action
         apply at iterations: 0,1
         filter variables:
         - name: specificHumidity
         action:
           name: assign error
           error function: TempObsErrorData/specificHumidity
         where:
         - variable:
             name: TempObsErrorData/specificHumidity
           value: is_valid
         defer to post: true
