     - obs space:
         name: adpsfc_winds_281
         obsdatain:
           engine:
             type: H5File
             obsfile: obs/hafs.t{{HH}}z.conventional_land_synop.nc
             missing file action: "warn"
           obsgrouping:
             group variables: ["stationIdentification"]
             sort variable: "pressure"
             sort order: "descending"
         obsdataout:
           engine:
             type: H5File
             obsfile: hofx/diag_conventional_land_synopw281_t{{HH}}z.nc
             allow overwrite: true
         io pool:
           max pool size: {{TOTAL_TASKS}}
         observed variables: [windEastward, windNorthward]
         simulated variables: [windEastward, windNorthward]
 
       obs operator:
         name: VertInterp
         hofx_scaling: true
         hofx scaling field: wind_reduction_factor_at_10m
         hofx scaling field group: GeoVaLs
         vertical coordinate: air_pressure
         observation vertical coordinate: pressure
         observation vertical coordinate group: MetaData
         interpolation method: log-linear
         variables:
         - name: windEastward
         - name: windNorthward
 
       linear obs operator:
         name: VertInterp
 
       obs error:
         covariance model: diagonal
       # Observation Pre fitler for domain resize
       obs pre filters:
       - filter: Domain Check
         apply at iterations: 0, 1
         where:
         - variable:
             name: MetaData/latitude
           minvalue: {{MIN_LAT}}
           maxvalue: {{MAX_LAT}}
         action:
           name: reduce obs space
       - filter : Domain Check
         apply at iterations: 0, 1
         where:
         - variable:
             name: MetaData/longitude
           minvalue: {{MIN_LON}}
           maxvalue: {{MAX_LON}}
         action:
           name: reduce obs space
       # Reject all obs with QualityMarker > 3
       - filter: RejectList
         apply at iterations: 0,1
         filter variables:
         - name: windEastward
         - name: windNorthward
         where:
         - variable: ObsType/windEastward
           is_not_in: 281
         - variable: QualityMarker/windEastward
           is_in: 4-15
           value: is_not_valid
         - variable: MetaData/pressure
           value: is_not_valid
         where operator: or
         action:
           name: reduce obs space
 
       # Observation Prior Filters (QC)
       # initial error assignment
       obs prior filters:
       - filter: Perform Action
         filter variables:
         - name: windEastward
         - name: windNorthward
         where:
         - variable: ObsType/windEastward
           is_in: 281
         action:
           name: assign error
           error function:
             name: ObsFunction/ObsErrorModelStepwiseLinear
             options:
               xvar:
                 name: MetaData/pressure
               xvals: [110000, 105000, 100000, 95000, 90000, 85000, 80000, 75000, 70000, 65000, 60000, 55000, 50000, 45000, 40000, 35000, 30000, 25000, 20000, 15000, 10000, 7500, 5000, 4000, 3000, 2000, 1000, 500, 400, 300, 200, 100, 0]
               errors: [1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854, 1.8854]
 
       # Online domain check
       - filter: Bounds Check
         filter variables:
         - name: windEastward
         - name: windNorthward
         test variables:
         - name:  GeoVaLs/observable_domain_mask
           minvalue: 0.0
           maxvalue: 0.5
       # Create PreUseFlag Group Variable (usage in GSI read_prepbufr)
       # Initialize
       - filter: Variable Assignment
         assignments:
         - name: PreUseFlag/windEastward
           type: int
           source variable: QualityMarker/windEastward
       - filter: Variable Assignment
         assignments:
         - name: PreUseFlag/windNorthward
           type: int
           source variable: QualityMarker/windNorthward
       # Assignment
       - filter: Variable Assignment
         where:
         - variable:
             name: PreUseFlag/windEastward
           is_in: 1-15
         assignments:
         - name: PreUseFlag/windEastward
           value: 0
       - filter: Variable Assignment
         where:
         - variable:
             name: PreUseFlag/windNorthward
           is_in: 1-15
         assignments:
         - name: PreUseFlag/windNorthward
           value: 0
 
       - filter: Variable Assignment
         where:
         - variable:
             name: QualityMarker/windEastward
           is_in: 9, 12, 15
         assignments:
         - name: PreUseFlag/windEastward
           value: 100
       - filter: Variable Assignment
         where:
         - variable:
             name: QualityMarker/windNorthward
           is_in: 9, 12, 15
         assignments:
         - name: PreUseFlag/windNorthward
           value: 100
 
       - filter: Variable Assignment
         where:
         - variable:
             name: QualityMarker/windEastward
           is_in: 4-15
         assignments:
         - name: PreUseFlag/windEastward
           value: 101
       - filter: Variable Assignment
         where:
         - variable:
             name: QualityMarker/windNorthward
           is_in: 4-15
         assignments:
         - name: PreUseFlag/windNorthward
           value: 101
       # Error inflation based on pressure check (setupw.f90)
       # WindEastward
       - filter: Perform Action
         filter variables:
         - name: windEastward
         where:
         - variable: ObsType/windEastward
           is_in: 281
         action:
           name: inflate error
           inflation variable:
             name: ObsFunction/ObsErrorFactorPressureCheck
             options:
               variable: windEastward
               inflation factor: 4.0
               SetSfcWndObsHeight: true
               AddObsHeightToStationElevation: true
               AssumedSfcWndObsHeight: 10
       # windNorthward
       - filter: Perform Action
         filter variables:
         - name: windNorthward
         where:
         - variable: ObsType/windNorthward
           is_in: 281
         action:
           name: inflate error
           inflation variable:
             name: ObsFunction/ObsErrorFactorPressureCheck
             options:
               variable: windNorthward
               inflation factor: 4.0
               SetSfcWndObsHeight: true
               AddObsHeightToStationElevation: true
               AssumedSfcWndObsHeight: 10
       # Inflate obs error based on obs type
       - filter: Perform Action
         filter variables:
         - name: windEastward
         action:
           name: inflate error
           inflation factor: 1.2
         where:
         - variable: QualityMarker/windEastward
           is_in: 3, 7
       - filter: Perform Action
         filter variables:
         - name: windNorthward
         action:
           name: inflate error
           inflation factor: 1.2
         where:
         - variable: QualityMarker/windNorthward
           is_in: 3, 7
 
       # Error inflation when observation pressure < 50 hPa (read_prepbufr.f90)
       - filter: Perform Action
         filter variables:
         - name: windEastward
         - name: windNorthward
         action:
           name: inflate error
           inflation factor: 1.2
         where:
         - variable: MetaData/pressure
           maxvalue: 5000.0
       # Bounds Check (ObsError)
       - filter: Bounds Check
         filter variables:
         - name: windEastward
         - name: windNorthward
         test variables:
         - name: ObsErrorData/windEastward
         minvalue: 0.0
         action:
           name: reject
 
       # Bounds Check (ObsValue)
       - filter: Bounds Check
         filter variables:
         - name: windEastward
         - name: windNorthward
         minvalue: -130
         maxvalue: 130
         action:
           name: reject
 
       # Observation Post Filters (QC)
       # -------------------------------
       obs post filters:
       # Calculate obs error inflation factors for duplicated observations at the same location
       - filter: Variable Assignment
         assignments:
         - name: ObsErrorFactorDuplicateCheck/windEastward
           type: float
           function:
             name: ObsFunction/ObsErrorFactorDuplicateCheck
             options:
               use_air_pressure: yes
               variable: windEastward
       - filter: Variable Assignment
         assignments:
         - name: ObsErrorFactorDuplicateCheck/windNorthward
           type: float
           function:
             name: ObsFunction/ObsErrorFactorDuplicateCheck
             options:
               use_air_pressure: yes
               variable: windNorthward
 
       # Gross Error Check (windEastward)
       - filter: Background Check
         apply at iterations: 0,1
         filter variables:
         - name: windEastward
         function absolute threshold:
         - name: ObsFunction/WindsSPDBCheck
           options:
             wndtype:    [ 281 ]
             cgross:     [ 6.0 ]
             error_min:  [ 1.4 ]
             error_max:  [ 6.1 ]
             variable: windEastward
         where:
         - variable: QualityMarker/windEastward
           is_not_in: 3
         action:
           name: reject
 
       # Gross Error Check (windNorthward)
       - filter: Background Check
         apply at iterations: 0,1
         filter variables:
         - name: windNorthward
         function absolute threshold:
         - name: ObsFunction/WindsSPDBCheck
           options:
             wndtype:    [ 281 ]
             cgross:     [ 6.0 ]
             error_min:  [ 1.4 ]
             error_max:  [ 6.1 ]
             variable: windNorthward
         where:
         - variable: QualityMarker/windNorthward
           is_not_in: 3
         action:
           name: reject
       # Gross Error Check (windEastward): cgross*0.7 if QualityMarker=3
       - filter: Background Check
         apply at iterations: 0,1
         filter variables:
         - name: windEastward
         function absolute threshold:
         - name: ObsFunction/WindsSPDBCheck
           options:
             wndtype:    [ 281 ]
             cgross:     [ 4.2 ]
             error_min:  [ 1.4 ]
             error_max:  [ 6.1 ]
             variable: windEastward
         where:
         - variable: QualityMarker/windEastward
           is_in: 3
         action:
           name: reject
 
       # Gross Error Check (windNorthward): cgross*0.7 if QualityMarker=3
       - filter: Background Check
         apply at iterations: 0,1
         filter variables:
         - name: windNorthward
         function absolute threshold:
         - name: ObsFunction/WindsSPDBCheck
           options:
             wndtype:    [ 281 ]
             cgross:     [ 4.2 ]
             error_min:  [ 1.4 ]
             error_max:  [ 6.1 ]
             variable: windNorthward
         where:
         - variable: QualityMarker/windNorthward
           is_in: 3
         action:
           name: reject
 
       # Inflate obs error based on duplicate check
       - filter: Perform Action
         filter variables:
         - name: windEastward
         action:
           name: inflate error
           inflation variable:
             name: ObsErrorFactorDuplicateCheck/windEastward
       - filter: Perform Action
         filter variables:
         - name: windNorthward
         action:
           name: inflate error
           inflation variable:
             name: ObsErrorFactorDuplicateCheck/windNorthward
 
       # Reject data based on PreUseFlag (usage in GSI)
       - filter: Perform Action
         filter variables:
         - name: windEastward
         where:
         - variable: PreUseFlag/windEastward
           is_not_in: 0, 1
           value: is_not_valid
         where operator: or
         action:
           name: reject
       - filter: Perform Action
         filter variables:
         - name: windNorthward
         where:
         - variable: PreUseFlag/windNorthward
           is_not_in: 0, 1
           value: is_not_valid
         where operator: or
         action:
           name: reject
 
         # End of Filters
 
