     - obs space:
         name: aircar_airTemperature_133
         obsdatain:
           engine:
             type: H5File
             obsfile: obs/hafs.t{{HH}}z.conventional_air_aircar.nc
             missing file action: "warn"
           obsgrouping:
             group variables: ["stationIdentification"]
             sort variable: "pressure"
             sort order: "descending"
 
         obsdataout:
           engine:
             type: H5File
             obsfile: hofx/diag_conventional_air_cart_t{{HH}}z.nc
             allow overwrite: true
         io pool:
           max pool size: {{TOTAL_TASKS}}
         observed variables: [airTemperature]
         simulated variables: [airTemperature]
 
       obs operator:
         name: VertInterp
         vertical coordinate: air_pressure
         observation vertical coordinate: pressure
         observation vertical coordinate group: MetaData
         interpolation method: log-linear
         variables:
         - name: airTemperature
 
       linear obs operator:
         name: VertInterp
 
       obs error:
         covariance model: diagonal
 
       obs localizations:
       - localization method: Horizontal Gasperi-Cohn
         lengthscale: 300e3
 
       obs filters:
       # Regional Domain Check
       - filter: Bounds Check
         filter variables:
         - name: airTemperature
         test variables:
         - name: GeoVaLs/observable_domain_mask
           minvalue: 0.0
           maxvalue: 0.5
       # Reject all obs with QualityMarker > 3
       - filter: Perform Action
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         where:
         - variable: ObsType/airTemperature
           is_not_in: 133
         - variable: QualityMarker/airTemperature
           is_in: 4-15
           value: is_not_valid
         - variable: MetaData/pressure
           value: is_not_valid
         where operator: or
         action:
           name: reject
         action:
           name: reduce obs space
 
       # Time window filter
       - filter: Domain Check
         apply at iterations: 0,1
         where:
         - variable:
             name: MetaData/timeOffset # units: s
           minvalue: -10800
           maxvalue:  10800
 
       # Initial errror assignment
       - filter: Perform Action
         filter variables:
         - name: airTemperature
         where:
         - variable: ObsType/airTemperature
           is_in: 133
         action:
           name: assign error
           error function:
             name: ObsFunction/ObsErrorModelStepwiseLinear
             options:
               xvar:
                 name: MetaData/pressure
               xvals: [110000, 105000, 100000, 95000, 90000, 85000, 80000, 75000, 70000, 65000, 60000, 55000, 50000, 45000, 40000, 35000, 30000, 25000, 20000, 15000, 10000, 7500, 5000, 4000, 3000, 2000, 1000, 500, 400, 300, 200, 100, 0]
               errors: [1.4088, 1.3361, 1.2395, 1.1379, 1.0505, 0.98154, 0.92451, 0.87349, 0.82829, 0.79582, 0.77562, 0.75911, 0.7408, 0.72571, 0.72719, 0.75204, 0.80129, 0.8696, 0.93292, 0.9672, 0.9831, 0.99132, 0.99603, 0.99854, 0.99963, 0.99997, 1.0, 0.99999, 0.99995, 0.99985, 0.99958, 0.99914, 0.99869]
 
       ##  error inflation based on pressure check (setupt.f90)
       - filter: Perform Action
         filter variables:
         - name: airTemperature
         where:
         - variable: ObsType/airTemperature
           is_in: 133
         action:
           name: inflate error
           inflation variable:
             name: ObsFunction/ObsErrorFactorPressureCheck
             options:
               variable: airTemperature
               inflation factor: 8.0
 
       # Error inflation when QualityMarker == 3 (read_prepbufr.f90)
       - filter: Perform Action
         filter variables:
         - name: airTemperature
         action:
           name: inflate error
           inflation factor: 1.2
         where:
         - variable: QualityMarker/airTemperature
           is_in: 3
       # Error inflation when observation presser < 100 hPa (read_prepbufr.f90)
       - filter: Perform Action
         filter variables:
         - name: airTemperature
         action:
           name: inflate error
           inflation factor: 1.2
         where:
         - variable: MetaData/pressure
           maxvalue: 10000.0
 
       # Bounds Check (ObsError)
       - filter: Bounds Check
         filter variables:
         - name: airTemperature
         test variables:
         - name: ObsErrorData/airTemperature
         minvalue: 0.0
 
       # Bounds Check (ObsValue)
       - filter: Bounds Check
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         minvalue: 100
         maxvalue: 400
         #action:
         #  name: reduce obs space
 
       # Create temporary ObsErrorData
       - filter: Variable Assignment
         apply at iterations: 0,1
         assignments:
         - name: TempObsErrorData/airTemperature
           type: float
           function:
             name: ObsFunction/Arithmetic
             options:
               variables:
               - name: ObsErrorData/airTemperature
         defer to post: true
       # Set ObsError set "error parameter" if < "max value"
       - filter: Perform Action
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         action:
           name: assign error
           error parameter: 1.3
         where:
         - variable:
             name: ObsErrorData/airTemperature
           maxvalue: 1.3
         - variable:
             name: ObsErrorData/airTemperature
           value: is_valid
         defer to post: true
       # Set ObsError set "error parameter" if > "min value"
       - filter: Perform Action
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         action:
           name: assign error
           error parameter: 5.6
         where:
         - variable:
             name: ObsErrorData/airTemperature
           minvalue: 5.6
         - variable:
             name: ObsErrorData/airTemperature
           value: is_valid
         defer to post: true
 
       # Gross Error Check
       - filter: Background Check
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         threshold: 7.0
         action:
           name: reject
         where:
         - variable: ObsType/airTemperature
         - variable: QualityMarker/airTemperature
           is_not_in: 3
         defer to post: true
       # Gross Error Check: cgross*0.7 if QualityMarker=3
       - filter: Background Check
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         threshold: 4.9
         action:
           name: reject
         where:
         - variable: ObsType/airTemperature
         - variable: QualityMarker/airTemperature
           is_in: 3
         defer to post: true
 
       # Re-assign err ObsErrorData <--- TempObsErrorData after gross error check.
       - filter: Perform Action
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         action:
           name: assign error
           error function: TempObsErrorData/airTemperature
         where:
         - variable:
             name: TempObsErrorData/airTemperature
           value: is_valid
         defer to post: true
