     - obs space:
         name: drpsnd_airTemperature_137 
         obsdatain:
           engine:
             type: H5File
             obsfile: obs/hafs.t{{HH}}z.drpsnd.nc
             missing file action: "warn"
         obsdataout:
           engine:
             type: H5File
             obsfile: hofx/diag_drpsnd_airTemperature_137_t{{HH}}z.nc
             allow overwrite: true
         io pool:
           max pool size: {{TOTAL_TASKS}}
         observed variables: [airTemperature]
         simulated variables: [airTemperature]
 
       obs operator:
         name: Composite
         components:
         - name: VertInterp
           vertical coordinate: air_pressure
           observation vertical coordinate: pressure
           observation vertical coordinate group: MetaData
           interpolation method: log-linear
           variables: 
           - name: airTemperature
 
       obs error:
         covariance model: diagonal
 
       obs pre filters:  
       - filter: Domain Check
         apply at iterations: 0,1
         where:
         - variable:
             name: MetaData/latitude
           minvalue: {{MIN_LAT}} 
           maxvalue: {{MAX_LAT}}
         action:
           name: reduce obs space
 
       - filter: Domain Check
         apply at iterations: 0,1
         where:
         - variable:
             name: MetaData/longitude
           minvalue: {{MIN_LON}}
           maxvalue: {{MAX_LON}}
         action:
           name: reduce obs space
 
       # Reject all obs with QualityMarker > 3
       - filter: RejectList
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         where:
         - variable: ObsType/airTemperature
           is_not_in: 137
         - variable: QualityMarker/airTemperature
           is_in: 4-15
           value: is_not_valid
         - variable: MetaData/pressure
           value: is_not_valid
         where operator: or
         action:
           name: reduce obs space 
 
       # Time window filter
       - filter: Domain Check
         apply at iterations: 0,1
         where:
           - variable:
               name: MetaData/timeOffset # units: s
             minvalue: -10800
             maxvalue:  10800
         action:
           name: reduce obs space
 
       obs prior filters:  
       # Regional Domain Check
       - filter: Bounds Check
         filter variables:
         - name: airTemperature
         test variables:
         - name: GeoVaLs/observable_domain_mask
           minvalue: 0.0
           maxvalue: 0.5
         action:
           name: reject
 
       # Initial errror assignment
       - filter: Perform Action
         filter variables:
         - name: airTemperature
         where:
         - variable: ObsType/airTemperature
           is_in: 137
         action:
           name: assign error
           error parameter: 0.7
 
       ## error inflation if observation QM is 3 or 7 (read_fl_hdob.f90)
       - filter: Perform Action
         filter variables:
         - name: airTemperature
         where:
           - variable: QualityMarker/airTemperature
             is_in: 3,7        # qm=7 observation is aleady blocked
         action:
           name: inflate error
           inflation factor: 1.2
 
       ## error inflation if observation pressure < 100 hPa (read_fl_hdob.f90)
       - filter: Perform Action
         filter variables:
         - name: airTemperature
           where:
            - variable: MetaData/pressure
              maxvalue: 10000.
         action:
           name: inflate error
           inflation factor: 1.2
 
       # Bounds Check
       - filter: Bounds Check
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         minvalue: 170
         maxvalue: 320
 
 
       # Observation Post Filters (QC)
       # -------------------------------
       obs post filters:
       ## dynamic observation error (DOE)
       # step1: save OmB
       - filter: Variable Assignment
         assignments:
         - name: OmB/airTemperature
           type: float
           function:
             name: ObsFunction/Arithmetic
             options:
               variables: [ObsValue/airTemperature, HofX/airTemperature]
               coefs: [1.0, -1.0]
 
       # step2: assign dynamic obs error
       - filter: Perform Action
         filter variables:
         - name: airTemperature
         action:
           name: assign error
           error function:
             name: ObsFunction/Arithmetic
             options:
               variables: [OmB/airTemperature]
               absolute value: [true]     
               total coefficient: 0.7
               intercept: 0.2
 
       ##  error inflation based on pressure check (setupt.f90)
       - filter: Perform Action
         filter variables:
         - name: airTemperature
         where:
         - variable: ObsType/airTemperature
           is_in: 137
         action:
           name: inflate error
           inflation variable:
             name: ObsFunction/ObsErrorFactorPressureCheck
             options:
               variable: airTemperature
               inflation factor: 8.0
 
       # Create temporary ObsErrorData
       - filter: Variable Assignment
         apply at iterations: 0,1
         assignments:
         - name: TempObsErrorData/airTemperature
           type: float
           function:
             name: ObsFunction/Arithmetic
             options:
               variables:
               - name: ObsErrorData/airTemperature
 
       # Set ObsError set "error parameter" if < "max value"
       - filter: Perform Action
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         action:
           name: assign error
           error parameter: 1.3
         where:
         - variable:
             name: ObsErrorData/airTemperature
           maxvalue: 1.3
         - variable:
             name: ObsErrorData/airTemperature
           value: is_valid
 
       # Set ObsError set "error parameter" if > "min value"
       - filter: Perform Action
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         action:
           name: assign error
           error parameter: 5.6
         where:
         - variable:
             name: ObsErrorData/airTemperature
           minvalue: 5.6
         - variable:
             name: ObsErrorData/airTemperature
           value: is_valid
 
       ## Gross Error Check
       - filter: Background Check
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         threshold: 7.0
         action:
           name: reject
         where:
         - variable: QualityMarker/airTemperature
           is_not_in: 3
 
       ## Gross Error Check: cgross*0.7 if QualityMarker=3
       - filter: Background Check
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         threshold: 4.9
         action:
           name: reject
         where:
         - variable: QualityMarker/airTemperature
           is_in: 3
 
       # Re-assign err ObsErrorData <--- TempObsErrorData after gross error check.
       - filter: Perform Action
         apply at iterations: 0,1
         filter variables:
         - name: airTemperature
         action:
           name: assign error
           error function: TempObsErrorData/airTemperature
         where:
         - variable:
             name: TempObsErrorData/airTemperature
           value: is_valid
