output:
  state component:
    states:
    - datetime: '{{atmosphere_background_time_iso}}'
      filetype: fms restart
      prefix: Inc3
      datapath: ./
      state variables: {{analysis_variables}}
      field io names: *field_io_names
    - datetime: '{{atmosphere_background_time_iso6}}'
      filetype: fms restart
      datapath: ./
      prefix: Inc6
      state variables: {{analysis_variables}}
      field io names: *field_io_names
    - datetime: '{{atmosphere_background_time_iso9}}'
      filetype: fms restart
      datapath: ./
      prefix: Inc9
      state variables: {{analysis_variables}}
      field io names: *field_io_names

geometry:
  fms initialization:
    namelist filename: {{atmosphere_fv3jedi_files_path}}/fmsmpp.nml
    field table filename: {{atmosphere_fv3jedi_files_path}}/field_table
  namelist filename: {{atmosphere_fv3jedi_files_path}}/input_hafs_nest.nml
  akbk: {{atmosphere_background_path}}/{{atmosphere_akbk_file}}
  io_layout: [{{atmosphere_io_layout_x}}, {{atmosphere_io_layout_y}}]
  ntiles: {{atmosphere_ntiles}}
